@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* variables */
:root {
  --anchor: #326891;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", Helvetica, "Arial", sans-serif;
  vertical-align: baseline;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--anchor);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
}

button:focus {
  outline: none;
}

fieldset {
  border: none;
}

/* PRESET */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* STYLING */

/* Navigation bar */
.header-nav {
    z-index: 10;
    position: fixed;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
    background-color: white;
}

.ul-nav {
    width: 100vw;
    height: 42px;
    padding: 4px 15px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.ul-nav > li:first-child {
    width: 210px;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 15px;
}

.ul-nav > li:first-child strong{
    font-family: "Roboto", Helvetica, sans-serif;
}

.icon-menu, .icon-search {
    width: 16px;
    height: 16px;
    color: #000;
}

.ul-nav li a {
    font-size: 14.25px;
    color: black;
}


.ul-nav li:nth-child(2) {
    margin-top: 10px;
    margin-right: 10px;
}

.logo-nyt{
   width: 195px;
   height: 26.5px;
}

.ul-nav li:last-child {
    position: absolute;
    top: 4px;
    right: 25px;
}

.ul-nav li:last-child button {
    height: 32px;
    background: #457293;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #326891;
    color: white;
    font-size: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 5px;
}

/***** Main Content *****/
/* Header */
main article {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 90px;
}

main article > header {
    padding: 10px;
}

main article header h1 i{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.links-container {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ebebeb;
}

.links-container ul {
    justify-content: flex-start;
}

.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-right: 15px;
}

.links-container a:hover {
    background: transparent;
    border-color: lightgray;
}

.icon-call {
    background-image: url(https://www.nytimes.com/vi-assets/static-assets/icon-whatsapp-17x17-000-b100d38495ee541e2e4f30bcaf9bfe0c.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
}

.links-container li:nth-child(6) a{
    background: transparent;
    border: none;
}

.links-container li:nth-child(7) a{
    color: black;
    font-size: 12px;
    background: transparent;
    border: none;
    text-decoration: none;
}

.icon-badge-path {
    stroke: black;
    fill: white;
}

.icon-badge-path:hover {
    stroke: lightgray;
}

.icon-chat {
    border: 1px solid black;
    border-radius: 4px;
    min-width: 36px;
    min-height: 24px;
    padding: 4px;
    position: relative;
    font-style: normal;
}

.icon-chat span {
    font-family: Roboto;
    font-size: 11px;
}

.icon-chat::before {
    border-color: rgb(102, 102, 102) transparent;
    border-style: solid;
    bottom: -7px;
    border-width: 6px 0px 0px 8px;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    width: 0px;
}

.icon-chat::after {
    border-color: rgb(255, 255, 255) transparent;
    border-style: solid;
    border-width: 6px 0px 0px 6px;
    bottom: -6px;
    content: "";
    display: block;
    left: 16px;
    position: absolute;
    width: 0px;
}

.icon-chat:hover::before {
    border-color: lightgray transparent;
}

.icon-chat:hover {
    border-color: #d3d3d3;
}

.image-info-container {
    width: 945px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.image-info-container * {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.25rem;
    color: rgb(83, 83, 83);
}

.image-info-container > div {
    max-width: 720px;
    margin-top: 5px;
}

.image-info-container span {
    margin-right: 7px;
}

.image-info-container span:nth-child(2) {
    color: #888;
    letter-spacing: 0.01em;
    font-size: 14px;
}

.header-image {
    width: 100%;
}

.author-container {
    margin-bottom: 30px;
}

.author-container * {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

.author-container  div {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    width: 600px;
}

.author-container div span:first-child {
    margin-bottom: 15px;
}

.author-container div span:nth-child(2) {
    font-size: 12px;
    font-weight: 100;
    color: #333;
}

.author-container a {
    text-decoration: underline;
    text-decoration-color: rgb(184, 184, 184);
}

.author-container a:hover {
    text-decoration: none;
}


/* Content */

.sign-up-container, .text-container {
    width: 600px;
    align-items: flex-start;
}

.sign-up-container {
    margin: 15px 0;
    padding-top: 12px;
    border-top: 1px solid #ebebeb;
    justify-content: space-between;
}

.sign-up-container div {
    width: 497px;
    margin-right: 5px;
}

.sign-up-container div span{
    color: rgb(51, 51, 51);
    font-size: .8rem;
    font-weight: 700;
    font-family: "Roboto", Helvetica, sans-serif;
    text-transform: uppercase;
}

.sign-up-container div i{
    color: rgb(51, 51, 51);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.sign-up-container button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    text-align: center;
    transition: all .3s ease;
    font-weight: 700;
    font-size: 14px;
    color: black;
    padding: 4px 12px;
    width: 80px;
    height: 32px;
    background-color: white;
}

.sign-up-container button:hover {
    color: white;
    background-color: black;
}

.text-container{
    margin: 0 20px;
    border-top: 1px solid #ebebeb;
}

.text-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.36rem;
    margin-bottom: 15px;
    line-height: 1.86rem;
    color: #333;
}

.text-container p a {
    font: inherit;
    text-decoration: underline;
}

.text-container p strong {
    font-family: inherit;
    font-size: inherit;
}

.text-container p a:hover {
    text-decoration: none;
}

.subscribe-container {
    width: 100%;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.small-divider1, .small-divider2 {
    width: 72px;
}

.small-divider1{
    border-bottom: 1px solid #ccc;
    margin-bottom: 18px;
}

.small-divider2{
    border-bottom: 1px solid #ccc;
    margin-top: 18px;
}

.subscribe-text *{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.subscribe-text a {
    color: rgb(50, 104, 145);
    text-decoration: none;
}

.theory-of-inflation-container {
    width: 945px;
    margin-top: 15px;
    display: flex;
    flex-flow: column;
}

.header-theory {
    padding: 0;
}

.theory-of-inflation-container header * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #666;
}

.theory-of-inflation-container header strong {
    color: #000;
    font-size: 20px;
}

.theory-of-inflation-container div {
    margin-top: 10px;
    position: relative;
}

.theory-of-inflation-container div p {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 228px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #333;
}

.theory-of-inflation-container div p span {
    font-weight: 700;
    font-size: 11px;
    margin-right: 10px;
    color: #000;
}

.footer-theory {
    display: flex;
    flex-flow: column;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .856rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin-bottom: 50px;
    color: #333;
    width: 100%;
}

.footer-theory-divider {
    width: 60px;
    height: 1;
    border-top: 1px solid #333;
    margin-bottom: 20px;
}

.theory-vid-container, .theory-img-container {
    margin: 25px 0 40px 0;
}

.theory-vid-text-container, .theory-img-text-container {
    margin-right: 20px;
}

.theory-vid-text1, .theory-vid-text2, .theory-img-text1, .theory-img-text2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.theory-vid-text1, .theory-img-text1  {
    margin-right: 7px;
    color: #666;
}

.theory-vid-text2, .theory-img-text2  {
    color: #888;
    font-size: 14px;
}

.img-bicep-telescope {
    width: 100%;
}

.text-container2{
    border-top: none;
}

/* Bottom links */
.article-bottom-links-container {
    width: 600px;
    font-size: 11px;
    color: #666;
}

.article-bottom-links-container a {
    color: #666;
    text-decoration: underline;
}

.article-bottom-links-container a:hover {
    text-decoration: none;
}

.article-bottom-links-container > div:nth-child(2) {
    margin: 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-read-comments {
    width: 330px;
    background: #457293;
    border: 1px solid #326891;
    border-radius: 3px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    vertical-align: middle;
    letter-spacing: 0.05em;
}

.bottom-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-right: 15px;
}

.bottom-link5 {
    margin-right: 0 !important;
}

.bottom-links a:hover {
    background: transparent;
    border-color: lightgray;
}

/* Suggested Newsletter */
.suggesed-newsletters-container {
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-family: Arial, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.suggested-container {
    width: 852px;
    height: 100%;
    background-color: white;
    margin-right: 30px;
}

.suggested-container > div {
    width: 100%;
}

.suggested, .more-in-space, .editors-picks {
    border-top: 1px solid black;
    margin-bottom: 30px;
}



.suggested > div:first-child, .more-in-space > div:first-child, .editors-picks > div:first-child, .popular-container > div:first-child {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.suggested > div:first-child > button {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

.suggestion-item {
    border: 1px solid rgb(226, 226, 226);
    width: 271px;
    height: 293px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all .3s ease-in;
}

.suggestion-item:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.suggestion-item > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.suggestion-items-container {
    display: flex;
    justify-content: space-between;
}

.suggestion-image {
    width: 80px;
    height: 80px;
    margin-bottom: 11px;
    background-color: lightgray;
}

.btn-suggested {
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: black;
    background-color: white;
    transition: all .5s ease;
}

.material-add {
    font-size: 24px !important;
}

.btn-suggested:hover {
    color: white;
    background-color: black;
}

.suggestion-info {
    display: flex;
    flex-flow: column;
    line-height: 1.2rem;
}

.suggestion-info > span:first-child {
    font-size: 11px;
}

.suggestion-info > strong {
    font-size: 16px;
    color: black;
}

.suggestion-info > span:last-child {
    font-size: 15px;
    margin-top: 5px;
}

.suggestion-item > a {
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
}

.more-in-space > div:first-child > a {
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.more-in-space-items-container, .editors-picks-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 852px;
    width: 100%;
}

.more-in-space-item, .editors-picks-item {
    display: flex;
    flex-flow: column;
    max-width: 32%;
    flex-basis: 32%;
}

.more-in-space-item > div:first-child, .editors-picks-item > div:first-child {
    display: flex;
    flex-flow: column;
}

.img-more-in-space, .img-editors-picks {
    width: 100%;
    margin-bottom: 3px;
}

.more-in-space-item > div:first-child > span, .editors-picks-item > div:first-child > span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    color: #888;
    text-align: right;
}

.more-in-space-item > h3, .editors-picks-item > h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 5px 0;
    color: black;
}

.more-in-space-item > span, .editors-picks-item > span {
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #888;
}

.editors-picks > div > strong {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.editors-picks > div > strong:hover {
    text-decoration: underline;
}

/* Popular side */
.popular-container {
    width: 315px;
    height: 100%;
}

.popular-container > div:first-child {
    border-top: 1px solid black;
}

.popular-item {
    padding: 15px 0;
    border-top: 1px solid rgb(226, 226, 226);
}

.popular-item > a {
    color: black;
    font-weight: 500;
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.popular-item > a:hover {
    color: #666;
    text-decoration: none;
}
/* Site index */
.site-index {
    width: 1200px;
    height: 467px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.site-index::before {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    content: '';
    display: block;
    height: 1px;
    margin-top: 0;
}

.site-index > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.site-index > div:first-child > a:nth-child(2) {
    font-size: 11px;
    font-family: Arial;
    text-decoration: none;
    margin-top: 10px;
}

.site-links-container {
    display: flex;
    margin-top: 10px;
}

.site-links {
    display: flex;
    flex-flow: column;
    width: 197px;
    height: 400px;
}

.site-links > h3, .subsribe-div > h3 {
    font-size: 13px;
    height: 25px;
}

.site-links a {
    font-size: 12px;
    color: #333;
}

.site-links a {
    display: inline-block;
    font-size: 13px;
    font-family:  "Roboto", Arial, Helvetica, sans-serif;
    color: black;
    height: 23px;
    width: 150px;
}

.subsribe-div {
    display: flex;
    flex-flow: column;
    width: 215px;
    height: 400px;
    background-color: white;
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 15px;
}
.subscribe-list1 li {
    margin-bottom: 5px;
}

.subscribe-list1 a {
    display: inline-block;
    min-width: 150px;
    height: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    color: black;
    vertical-align: baseline;
}

.subscribe-list1 a svg {
    width: 13px;
    height: 13px;
}

.subscribe-list2 li, .subscribe-list3 li {
    height: 23px;
}

.subscribe-list2 a, .subscribe-list3 a{
    display: inline-block;
    color: black;
    font-size: 10px;
    min-width: 150px;
    height: 23px;
}

.subscribe-list3 {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid rgb(226, 226, 226);
}

/* Footer */
.main-footer {
    padding-top: 9px;
    width: 1200px;
    height: 111px;
    padding-bottom: 45px;
}

.main-footer a {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    vertical-align: baseline;
    padding: 0 10px;
}

.main-footer ul {
    display: flex;
    justify-content: center;
}





